* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.order {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 124, 5);
}
.orderfirst {
  width: 100%;
  height: 35%;
  background-color: rgb(252, 124, 5);

  display: flex;
  align-items: center;
  justify-content: center;
}
.ordersecond {
  width: 100%;
  height: 65vh;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.ordersecond h1 {
  position: relative;
  top: 1rem;
  left: 1rem;
  width: 30rem;
  font-size: 2rem;
}
.ordersecond h2 {
  position: relative;
  left: 1rem;
  width: 10rem;
}
.orderimage {
  width: 12rem;
  height: 12rem;
  position: relative;
}
.orderimage img {
  border-radius: 50%;
}
.orderfirst i {
  font-size: 1.2rem;
  background-color: white;
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: black;
  left: 1rem;
  top: 1rem;
  position: fixed;
  z-index: 1;
}
.spice-boxes {
  width: 100%;
  height: 5rem;
  display: flex;
  position: relative;
  bottom: 43rem;
}
.spice-label {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  width: 10rem;
}
.ordersecond h2 {
  position: relative;
  bottom: 20rem;
}
.spice-label input {
  height: 1rem;
  cursor: pointer;
}
.textarea-notes {
  position: relative;
  bottom: 42rem;
  width: 80%;
  height: 10rem;
  left: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.textarea-notes2 {
  position: relative;
  bottom: 20rem;
  width: 80%;
  height: 10rem;
  left: 1rem;
  padding: 1rem;
  font-size: 1.5rem;
}
.textarea-notes::placeholder {
  font-size: 18px; /* Povećana veličina */
  color: #999; /* Siva boja */
  font-style: italic; /* Italik tekst */
}
.order-button {
  cursor: pointer;
  width: 15%;
  padding-top: 0.5rem;
  height: 4rem;
  border-radius: 30px;
  background-color: rgb(252, 124, 5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  justify-self: center;
  position: fixed;
  bottom: 1rem;
  left: 43%;
}
/* .cena {
  text-align: center;
} */
