* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.order {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 124, 5);
}

.orderfirst {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordersecond {
  width: 100%;
  height: 70vh;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1rem;
}

.ordersecond h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}
.ordersecond h2 {
  position: relative;
  top: -24rem;
}
.orderimage {
  width: 10rem;
  height: 10rem;
}

.orderimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.orderfirst i {
  font-size: 1.2rem;
  background-color: white;
  width: 3.5rem;
  height: 2.5rem;
  border-radius: 30%;
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  color: black;
  left: 1rem;
  top: 1rem;
  position: fixed;
}

.spice-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  position: absolute;
  top: 2rem;
  width: 100%;
  left: 0;
}

.spice-label {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 10px;
  cursor: pointer;
  width: 5rem;
}
.spice-input {
  position: relative;
  left: 0.5rem;
}
.textarea-notes {
  width: 90%;
  height: 8rem;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: absolute;
  top: 25rem;
  left: 1rem;
}
.textarea-notes2 {
  width: 90%;
  height: 8rem;
  padding: 1rem;
  font-size: 1.2rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: absolute;
  top: 17rem;
  left: 1rem;
}

.order-button {
  cursor: pointer;
  width: 80%;
  max-width: 250px;
  height: 4rem;
  border-radius: 30px;
  background-color: rgb(252, 124, 5);

  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
}

/* ✅ Responsivnost za telefone */
@media (max-width: 768px) {
  .order {
    height: auto;
  }

  .orderfirst {
    height: 15%;
  }

  .ordersecond {
    height: auto;
    padding-bottom: 5rem; /* Da ne prekriva dugme */
  }

  .ordersecond h1 {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 1rem;
  }
  .ordersecond h2 {
    text-align: center;
    position: relative;
    top: 3rem;
  }
  .orderimage {
    width: 8rem;
    height: 8rem;
  }

  .spice-boxes {
    justify-content: center;
    width: 100%;
    position: relative;
    top: 5rem;
  }

  .spice-label {
    font-size: 1rem;
    padding: 5px 10px;
  }
  .orderfirst i {
    font-size: 1rem;
    width: 3rem;
    height: 2rem;
    z-index: 100;
    gap: 0.5rem;
  }
  .textarea-notes,
  .textarea-notes2 {
    font-size: 1rem;
    position: relative;
    top: 5rem;
  }

  .order-button {
    width: 90%;
    height: 4rem;
  }
}
